:root {
  --title-text-color: #212121;
  --additional-text-color:#757575;
  --accent-color:#2196F3;
  --secondary-color:#FFFFFF;
  --anim-speed: 250ms;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--secondary-color);
}

.list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}

.section .title {
  /* margin-top: 0;
   margin-bottom: 10px;*/
  color: var(--title-text-color);
  line-height: 1.1;
  font-size: 14px;
  text-transform: uppercase;
}

.section__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.section .segment {
  /* margin-top: 0;
   margin-bottom: 0;*/
  color: var(--additional-text-color);
  line-height: 1.7;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 738px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1180px;
  }
}

.button {
  font-weight: 700px;
  font-size: 16px;
  border-radius: 4px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  border-style: none;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity var(--anim-speed), visibility var(--anim-speed);
  transition: opacity var(--anim-speed), visibility var(--anim-speed);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background-color: var(--secondary-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (max-width: 758px) {
  .modal {
    width: 450px;
  }
}

.close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--secondary-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-top: 8px;
  margin-right: 8px;
  margin-left: auto;
  -webkit-transition: var(--anim-speed);
  transition: var(--anim-speed);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.close:focus, .close:hover {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.project-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  width: 100%;
  height: 294px;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.5;
  color: rgb(255, 255, 255);
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform var(--anim-speed);
  transition: -webkit-transform var(--anim-speed);
  transition: transform var(--anim-speed);
  transition: transform var(--anim-speed), -webkit-transform var(--anim-speed);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project-thumb:hover .project-overlay {
  -webkit-transform: translateY(-114px);
          transform: translateY(-114px);
}

.menu-btn-icon {
  background: none;
}

.no-scroll {
  overflow-y: hidden;
}

.mobile-backdrop {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: grid;
  place-items: center;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: top 0.25s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: top 0.25s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  top: 100%;
  visibility: none;
  opacity: 0;
  pointer-events: none;
}

.menu {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 48px 40px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background: white;
}
.menu__btn--close {
  position: absolute;
  right: 21px;
  top: 21px;
  background: white;
  -webkit-transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__btn--close:hover {
  color: var(--accent-color);
}
.menu__btn--icon {
  display: block;
}
.menu__nav--item {
  margin-bottom: 32px;
}
.menu__nav--item .current {
  position: relative;
  color: var(--accent-color);
}
.menu__nav--item a {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;
  -webkit-transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__nav--item a:hover, .menu__nav--item a:focus {
  color: var(--accent-color);
}
.menu__contacts {
  position: absolute;
  bottom: 134px;
}
.menu__contacts--item {
  margin-bottom: 32px;
}
.menu__contacts--item:last-child {
  margin-bottom: 0;
}
.menu__contacts--item a {
  color: var(--additional-text-color);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
}
.menu__contacts--item--phone a {
  color: var(--accent-color);
  font-size: 34px;
}
.menu__socials {
  position: absolute;
  bottom: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.menu__socials--item {
  margin-right: 10px;
}
.menu__socials--item:last-child {
  margin-right: 0;
}
.menu__socials--item a {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.header {
  padding: 24px;
  border-bottom: 1px solid #ECECEC;
}

.logo {
  color: var(--title-text-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo span {
  color: var(--accent-color);
  font-weight: 400;
  line-height: 1.4;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 768px) {
  .main-nav .site-nav {
    display: none;
  }
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
  position: relative;
}
.site-nav .accent-link {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
}
.site-nav .accent-link::after {
  content: "";
  position: absolute;
  bottom: -27px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}
.site-nav .link {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.site-nav.link:hover, .site-nav.link:focus {
  color: var(--accent-color);
}

.accent-link {
  color: var(--accent-color);
}

.info-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}
.info-nav .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.info-nav .item {
  color: var(--additional-text-color);
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--anim-speed);
          transition-duration: var(--anim-speed);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (max-width: 768px) {
  .info-nav {
    display: none;
  }
}
.info-nav .item:hover {
  color: var(--accent-color);
}
.info-nav .item a {
  color: inherit;
}
.info-nav .item + .item {
  margin-left: 50px;
}
.info-nav .link {
  margin-right: 10px;
}

.letter-icon {
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
}

.phone-icon {
  width: 10px;
  height: 16px;
  fill: currentColor;
}

.hero {
  padding: 200px 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #2F303A;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background.jpg);
  background-position: center;
}
.hero__title {
  width: 696px;
  margin-bottom: 30px;
  margin-top: 0;
  font-size: 44px;
  margin-right: auto;
  margin-left: auto;
  color: var(--secondary-color);
  font-weight: 900;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}
@media screen and (max-width: 1200px) {
  .hero__title {
    font-size: 26px;
    max-width: 360px;
  }
}
.hero .button {
  padding: 10px 32px;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  font-family: inherit;
  line-height: 1.8;
}

.form {
  width: 448px;
  margin-left: auto;
  margin-right: auto;
}

.group-title {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 1.1;
  text-align: center;
  color: var(--title-text-color);
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 28px;
  position: relative;
}
.form-group input {
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  height: 40px;
  font-size: 16px;
  padding-left: 42px;
  padding-right: 15px;
  -webkit-transition: var(--anim-speed);
  transition: var(--anim-speed);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.form-group:focus-within > .form-icon {
  fill: var(--accent-color);
}

.form-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.1;
  color: var(--additional-text-color);
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 5%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  display: inline-block;
  -webkit-transition: var(--anim-speed);
  transition: var(--anim-speed);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-icon:hover {
  fill: #2196F3;
}

.label-text {
  font-size: 12px;
  line-height: 1.1;
  color: var(--additional-text-color);
}

.form-input:focus {
  border-color: var(--accent-color);
}

.form-group-text textarea:focus {
  border-color: var(--accent-color);
}
.form-group-text textarea {
  width: 448px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 120px;
  font-size: 12px;
  line-height: 1.1px;
  color: rgba(117, 117, 117, 0.5);
  padding: 18px 16px;
  margin-top: 4px;
  margin-bottom: 20px;
  outline: none;
  -webkit-transition: var(--anim-speed);
  transition: var(--anim-speed);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.consent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  gap: 8px;
  color: var(--secondary-color);
}

.form-consent {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 15px;
  outline: 2px solid var(--title-text-color);
  outline-offset: -2px;
  border-radius: 2px;
  -webkit-transition: var(--anim-speed);
  transition: var(--anim-speed);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .form-consent {
  outline-color: var(--accent-color);
  background-color: var(--accent-color);
}

.consent-text {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: var(--additional-text-color);
}

.consent-text-link {
  color: var(--accent-color);
}

.form-btn button {
  padding: 10px 52px;
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--secondary-color);
  margin-bottom: 40px;
  -webkit-transition: var(--anim-speed);
  transition: var(--anim-speed);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Roboto";
  line-height: 1.9;
  border-style: none;
}
.form-btn button:hover, .form-btn button:focus {
  background-color: #188CE8;
}

.about {
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  .about {
    padding-top: 94px;
  }
}

@media screen and (min-width: 768px) {
  .quality-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .quality-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}

.feature-list {
  width: 100%;
}
@media screen and (min-width: 480px) {
  .feature-list .title {
    max-width: 270px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 480px) {
  .feature-list .segment {
    max-width: 450px;
  }
}

.quality-icon {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
  fill: var(--title-text-color);
}
@media screen and (min-width: 768px) {
  .quality-icon {
    width: auto;
  }
}
@media screen and (min-width: 1200px) {
  .quality-icon {
    width: 270px;
  }
}

.section-work {
  padding: 94px 0;
}
@media screen and (min-width: 320px) {
  .section-work {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .section-work {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .section-work {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.work__app {
  position: relative;
  width: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}
.work__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 370px;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  font-size: 14px;
  line-height: 1, 1;
  text-transform: uppercase;
  color: var(--secondary-color);
  background: rgba(47, 48, 58, 0.8);
}

.section-team {
  padding: 94px 0;
  background-color: #F5F4FA;
}
.section-team .title {
  padding-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 2px;
}
.section-team .segment {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--additional-text-color);
  font-size: 16px;
  line-height: 1.2;
}
.section-team .member {
  width: 270px;
  background-color: var(--secondary-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .section-team .member {
    width: auto;
  }
  .section-team .member img {
    width: 100%;
  }
}
.section-team .member-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 1200px) {
  .section-team .member-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}
@media screen and (max-width: 480px) {
  .section-team .member-list {
    grid-template-columns: 1fr;
  }
}
.section-team .team-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 16px;
  padding-bottom: 30px;
}
.section-team .link-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #757575;
  -webkit-transition: color var(--anim-speed) ease-in-out, background-color var(--anim-speed) ease-in-out;
  transition: color var(--anim-speed) ease-in-out, background-color var(--anim-speed) ease-in-out;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.section-team .link-icon:hover, .section-team .link-icon:focus {
  background-color: #2196F3;
  fill: #ECECEC;
}

.section-client {
  padding: 94px 0;
}

.company-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.company-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  fill: #AFB1B8;
  -webkit-transition: fill var(--anim-speed) ease-in-out, border var(--anim-speed) ease-in-out;
  transition: fill var(--anim-speed) ease-in-out, border var(--anim-speed) ease-in-out;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.company-list__link:hover, .company-list__link:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}
@media screen and (max-width: 1200px) {
  .company-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .company-list__link {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .company-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .flex-ftr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (max-width: 1200px) {
  .flex-ftr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
}
@media screen and (min-width: 480px) {
  .flex-ftr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer {
  padding: 60px 0;
  background-color: #2F303A;
}
.footer address {
  margin-top: 20px;
}

.ftr-address {
  display: block;
}
@media screen and (max-width: 1200px) {
  .ftr-address {
    margin: 0;
    text-align: center;
  }
}

.footer-logo {
  color: var(--secondary-color);
  font-family: "Raleway";
  font-weight: 700px;
  font-size: 26px;
  line-height: 1.2;
}
.footer-logo span {
  color: var(--accent-color);
  font-weight: 400;
  line-height: 1.4;
}

.ftr-item:not(:first-child) {
  margin-top: 9px;
}

.footer-info .address {
  color: var(--secondary-color);
  font-style: normal;
  line-height: 1.7;
  -webkit-transition: color var(--anim-speed) ease-in-out, background-color var(--anim-speed) ease-in-out;
  transition: color var(--anim-speed) ease-in-out, background-color var(--anim-speed) ease-in-out;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-info .link {
  display: block;
  margin-top: 9px;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  line-height: 1.7;
  -webkit-transition: color var(--anim-speed) ease-in-out, background-color var(--anim-speed) ease-in-out;
  transition: color var(--anim-speed) ease-in-out, background-color var(--anim-speed) ease-in-out;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-info .link:hover, .footer-info .link:focus {
  color: var(--accent-color);
}
.footer-info .address:hover, .footer-info .address:focus {
  color: var(--accent-color);
}

.conect {
  display: block;
  margin-right: 93px;
}
@media screen and (max-width: 1200px) {
  .conect {
    margin: 0;
    text-align: center;
  }
}
@media screen and (min-width: 480px) {
  .conect {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.ftr-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.ftr-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ftr-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: var(--secondary-color);
  margin-right: 13px;
  -webkit-transition: background-color var(--anim-speed) ease-in-out;
  transition: background-color var(--anim-speed) ease-in-out;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.ftr-icon:hover, .ftr-icon:focus {
  background-color: var(--accent-color);
}

.button-nav button:hover,
.button-nav button:focus {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}

.ftr-group input ::-webkit-input-placeholder {
  padding: 16px 15px 295px 15px;
}

.ftr-group input ::-moz-placeholder {
  padding: 16px 15px 295px 15px;
}

.ftr-group input :-ms-input-placeholder {
  padding: 16px 15px 295px 15px;
}

.ftr-group input ::-ms-input-placeholder {
  padding: 16px 15px 295px 15px;
}

.ftr-group input ::placeholder {
  padding: 16px 15px 295px 15px;
}
.ftr-group input {
  width: 358px;
  height: 50px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  margin-right: 12px;
}
@media screen and (min-width: 1200px) {
  .ftr-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1200px) {
  .ftr-group {
    margin: 0;
    text-align: center;
  }
}

.btn-form-ftr {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ftr-form-icon {
  position: absolute;
  top: 14px;
  right: 20px;
}

.ftr-group button {
  width: 200px;
  height: 50px;
  padding-right: 28px;
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--secondary-color);
  font-family: "Roboto";
  line-height: 1.9;
}

.section-project {
  padding: 94px 0;
}
.section-project .accent-btn {
  background-color: var(--secondary-color);
}
.section-project .button-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1.6;
}
.section-project .title {
  padding: 20px 24px 4px 24px;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.section-project .segment {
  padding: 4px 24px 20px 24px;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--additional-text-color);
  font-size: 16px;
  line-height: 1.9;
}

.button-nav .item:not(:last-child) {
  margin-right: 8px;
}
.button-nav button {
  padding: 6px 22px;
  border-style: none;
  background-color: #F5F4FA;
  border-radius: 4px;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  -webkit-transition: color var(--anim-speed) ease-in-out, background-color var(--anim-speed) ease-in-out;
  transition: color var(--anim-speed) ease-in-out, background-color var(--anim-speed) ease-in-out;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-thumb {
  position: relative;
  overflow: hidden;
}

.project-img {
  display: block;
}

.project-list {
  margin-top: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.project-list .project {
  width: calc((100% - 60px) / 3);
  background: var(--secondary-color);
  border: 1px solid #EEEEEE;
}

.project {
  margin-right: 30px;
  margin-bottom: 30px;
}
.project:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project:nth-child(3n) {
  margin-right: 0;
}
.project:nth-last-child(-n+3) {
  margin-bottom: 0;
}/*# sourceMappingURL=main.css.map */