.button {
    font-weight: 700px;
    font-size: 16px;
    border-radius: 4px;
    text-align: center;
    align-items: center;
    letter-spacing: 0.06em;
    border-style: none;
    cursor: pointer;
}