.flex-ftr{
    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: baseline;
    }
    @media screen and (max-width: 1200px) {
       display: grid;
       grid-template-columns: 1fr 1fr;
       gap: 60px;
    }
       @media screen and (min-width: 480px) {
        display: flex;
        flex-direction: column;
}
}
.footer{
    padding: 60px 0;
    background-color: #2F303A;

    & address{
        margin-top: 20px;
    }
   
}

.ftr-address {
    display: block;
   

    @media screen and (max-width: 1200px) {
        margin: 0;
        text-align: center;
    
 }
}
.footer-logo {
    color:var(--secondary-color);
    font-family: 'Raleway';
    font-weight: 700px;
    font-size: 26px;
    line-height:1.2;

    & span {
        color: var(--accent-color);
        font-weight: 400;
        line-height:1.4;
    }
}
.ftr-item:not(:first-child) {
    margin-top: 9px;
}
.footer-info {
    & .address {
        color: var(--secondary-color);
        font-style: normal;
        line-height: 1.7;
        transition: color var(--anim-speed) ease-in-out, background-color var(--anim-speed) ease-in-out;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    & .link {
        display: block;
        margin-top: 9px;
        color: rgba(255, 255, 255, 0.6);
        font-style: normal;
        line-height: 1.7;
        transition: color var(--anim-speed) ease-in-out, background-color var(--anim-speed) ease-in-out;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    & .link:hover ,
    & .link:focus {
        color: var(--accent-color);
    }

    & .address:hover ,
    & .address:focus {
    color: var(--accent-color);
}
}
.conect {
    display: block;
    margin-right: 93px;

    @media screen and (max-width: 1200px) {
        margin: 0;
        text-align: center;
 }
    @media screen and (min-width: 480px) {
        display: flex;
        flex-direction: column;
        align-items: center;
}
}
.ftr-title {
    margin-top: 0;
    margin-bottom: 20px;
  
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;
    color: var(--secondary-color);
}
.ftr-list{
    display: flex;
}
.ftr-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    fill: var(--secondary-color);
    margin-right: 13px;
    transition: background-color var(--anim-speed) ease-in-out;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
    background-color: var(--accent-color);
    }
}

.button-nav button:hover,
.button-nav button:focus {
    background-color: var(--accent-color);
    color:var(--secondary-color);
}
.ftr-group {
    
    & input ::placeholder {
        padding: 16px 15px 295px 15px
    }

    & input {
        width: 358px;
        height: 50px;
        padding-left: 15px;
        padding-right: 15px;
        background-color: transparent;
        color:rgba(255, 255, 255, 0.6);
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        outline: none;
        margin-right: 12px;
    }

    @media screen and (min-width: 1200px) {
        display: flex;

        @media screen and (max-width: 1200px) {
            margin: 0;
            text-align: center;
        
     }
}
}

.btn-form-ftr {
    position: relative; 
    display: flex;
    justify-content: center;

    
}
.ftr-form-icon {
    position: absolute;
    top: 14px;
    right: 20px;
}
.ftr-group button{
   width: 200px;
   height: 50px;
   padding-right: 28px;
   background-color: var(--accent-color);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   color:var(--secondary-color);
   font-family: 'Roboto';
   line-height: 1.9;
}