.hero {

    padding: 200px 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    background-color: #2F303A;;
    background-image: linear-gradient(to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4) ),
    url(../images/background.jpg);
    background-position: center;

    &__title {

        width: 696px;
        margin-bottom: 30px;
        margin-top: 0;;
        font-size: 44px;

        margin-right: auto;
        margin-left: auto;
    
        color:var(--secondary-color);
        font-weight: 900;

        line-height: 1.4;
        text-transform: uppercase;
        letter-spacing: 0.06em;

        @media screen and (max-width: 1200px) {
            font-size: 26px;
            max-width: 360px;
            
        }
    }

    & .button {
        padding: 10px 32px;
        background-color: var(--accent-color);
        color:var(--secondary-color);
        font-family: inherit;
        line-height: 1.8;
    }

}